@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.register-header-logo-image {
    width: 60px;
    height: 60px;
}

.register-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    text-align: center;
}

.register-header-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.register-header-icon {
    color: var(--primary);
    font-size: 2.25rem;
}

.register-header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neutral-800);
}

.register-header-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    text-align: center;
}

.register-header-text {
    color: var(--neutral-900);
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.033em;
    margin: 0;
}

@media (min-width: 640px) {
    .register-header-text {
        font-size: 2.25rem;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .register-header-logo {
        color: var(--neutral-200);
    }

    .register-header-text {
        color: white;
    }
}
