.gallery-page {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #f6f6f8;
    font-family: "Inter", sans-serif;
}

.gallery-page-inner {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
}

.gallery-page-content-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1.25rem 0;
}

.gallery-page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    flex: 1;
    padding: 0 1rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .gallery-page {
        background-color: #111521;
        color: white;
    }
}
