.gallery-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.gallery-header-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.gallery-header-title {
    color: #1f2937;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.033em;
}

.gallery-header-description {
    color: #6b7280;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    max-width: 42rem;
    margin: 0 auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .gallery-header-title {
        color: white;
    }

    .gallery-header-description {
        color: #9ca3af;
    }
}
