.gallery-cta {
    container-type: inline-size;
}

.gallery-cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 2.5rem 1rem;
    margin: 2.5rem 0;
    background-color: white;
    border-radius: 0.75rem;
}

@media (min-width: 480px) {
    .gallery-cta-wrapper {
        gap: 2rem;
        padding: 2.5rem;
    }
}

.gallery-cta-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.gallery-cta-title {
    color: #1f2937;
    letter-spacing: -0.025em;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    max-width: 45rem;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .gallery-cta-title {
        font-size: 2.25rem;
        font-weight: 900;
        letter-spacing: -0.033em;
    }
}

.gallery-cta-description {
    color: #1f2937;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    max-width: 45rem;
    margin: 0 auto;
}

.gallery-cta-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.gallery-cta-button-container {
    display: flex;
    justify-content: center;
}

.gallery-cta-button {
    display: flex;
    min-width: 84px;
    max-width: 480px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: #204cdf;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.015em;
    flex-grow: 1;
    border: none;
    transition: background-color 0.3s ease;
}

@media (min-width: 480px) {
    .gallery-cta-button {
        height: 3rem;
        padding: 0 1.25rem;
        font-size: 1rem;
    }
}

.gallery-cta-button:hover {
    background-color: rgba(32, 76, 223, 0.9);
}

.gallery-cta-button span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .gallery-cta-wrapper {
        background-color: #111521;
    }

    .gallery-cta-title {
        color: white;
    }

    .gallery-cta-description {
        color: #d1d5db;
    }
}
