.login-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo-wrapper {
    width: 100%;
    max-width: 7rem;
    margin-bottom: 1rem;
}

.login-logo-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-lg);
}
