.contact-intro {
    color: #34495E;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 64rem;
    margin: 0 auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .contact-intro {
        color: #E0E0E0;
    }
}
