.register-page {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: var(--neutral-100);
    font-family: "Inter", sans-serif;
}

.register-page-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media (min-width: 640px) {
    .register-page-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .register-page {
        background-color: var(--neutral-900);
    }
}
